<section class="content" style="margin-top: 35px;">


    <div class="row">
      <div class="box box-solid">
        
  
        <div class="box-body">
          <div class="col-sm-3 col-xs-12" *ngIf="produto">
            <img class="box-img-detail" [src]="produto?.imagePath"  />
          </div>
  
          <p class="col-sm-9">80 vendidos</p>
          <dl class="col-sm-9 col-xs-12">
            <h3>{{produto?.nome}}</h3>
            <dd></dd>
          </dl>
          <dl class="col-sm-9 col-xs-12">
            <dt>Categoria</dt>
            <dd>{{produto?.categoria.nome}}</dd>
          </dl>
          <dl class="col-sm-9 col-xs-12">
              <dt>Valor</dt>
              <dd>{{produto?.preco | currency: 'BRL' : true}}</dd>
          </dl>

  
  
          <div class="pull-right" style="margin-right: 10px">
            <div>
              <button (click)="adicionarItem(produto)" style="width: 200px" type="button"  class="btn btn-info">Adicionar</button>
              <button (click)="adicionarItem(produto)" style="width: 200px" type="button" [routerLink]="['/carrinho']"  class="btn btn-success">Comprar</button>
            </div>
          </div>

        </div>
      </div>
    </div>
   
    <div class="row box-footer detail-footer">
        
      
      <a class="pull-left " [routerLink]="['descricao']"  [queryParams]="{descricao: produto?.descricao}" routerLinkActive="detail-active">
        Descrição
      </a>
      <a class="pull-right " [routerLink]="['avaliacao']" routerLinkActive="detail-active">
        Avaliações
      </a>
    </div>
  
  
  
  
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  
  
  
  
  
  </section>